/* ----- Estilos para la parte del Clima ----- */
/* App.js - Contenedor del Clima */
.Dash-clima {
  background-image: url(../src/assets/1366_2000.jpg);
  background-color: linear-gradient(360deg, #7c73e6, #c4c1e0, #feeae3, #fafafa, 0.5);
  color: #fff;
  width: 50vw;
  height: 100vh;
  justify-content: center;
}

/* Estilos de Datos Importantes */
.Datos-importantes {
  margin: 2vh;
  height: 50vh;
  justify-content: space-around;
}

/* Estilos de la barra */
.Datos-barra {
  margin: 1vh auto;
  width: 43vw;
}

/* Estilos de Datos Varios */
.Clima-Hoy {
  width: 23vw;
  height: 52vh;
  align-items: center;
}

.Datos-Hoy {
  justify-content: space-around;
  width: 25vw;
  height: 52vh;
}

/* Estilos de ./componentes/MinimaMaxima.js */
.MinMax {
  align-items: center;
  justify-content: center;
  gap: 1vw;
  text-align: center;
}

/* Estilos para ./componentes/UvIndex.js/GaugeChart.js */
.UvIndex-Gauge {
  margin: 0 auto;
  width: 15vh;
}

/* Estilos para ./componentes/HoyDia.js */
.HoyDia-Datos {
  width: 12vw;
  text-align: center;
}

/* Estilos de Contenidos */
.Contenidos {
  width: 20vw;
  gap: 1vh;
}

/* Displays */
.Flex {
  display: flex;
}

.Grid {
  display: grid;
}

.Gap-10 {
  gap: 1vw;
}

.Around {
  justify-content: space-around;
}

.Between {
  justify-content: space-between;
}

.A-Center {
  align-items: center;
}

.TA-Center {
  text-align: center;
}

/* Estilos de las letras */
.Letra-fff {
  color: #fff;
}

.Letra-gris {
  color: gray;
  margin: 1vh;
  font-size: 2vh;
}

.Letra-35 {
  margin: 1vh;
  color: #430f59;
  font-size: 3vh;
}

.Letra-t2 {
  font-size: medium;
}

.Letra-t3 {
  font-size: larger;
}

.Letra-size {
  font-size: 25px;
}

/* Estilos de los Background */
.Back-Grad-Naranja {
  background: linear-gradient(45deg, #d18844, #f6dd87);
}

.Back-Grad-NaranjaFuerte {
  background: linear-gradient(45deg, #e05450, #f6dd87);
  transition: box-shadow 1s ease;
  opacity: .9;
}

.Back-42 {
  background-color: #424477;
}

.Back-43 {
  background-color: #430f59;
}


.Back-fff {
  background-color: #fff;
  opacity: 0.9;
  transition: box-shadow 1s ease;
}

.Back-Grad-NaranjaFuerte:hover {
  box-shadow: 0.1rem 0.5rem 0.5rem #430f59;
  cursor: pointer;
  opacity: 1;
}

.Back-fff:hover {
  box-shadow: 0.1rem 0.5rem 0.5rem #430f59;
  cursor: pointer;
  opacity: 1;
}

/* Estilos de los border-radius */
.Radius-5 {
  border-radius: 5px;
}

.Radius-10 {
  border-radius: 10px;
}

/* Border-color */
.Border-red {
  border: 3px solid red;
}

.Border-black {
  border: 3px solid black;
}

.Border-blue {
  border: 3px solid blue;
}

.Border-green {
  border: 3px solid green;
}

.Border-43 {
  border: 3px solid #430f59;
}