/* ----- Estilos para la parte del Clima ----- */
/* App.js - Contenedor del Clima */
.Dash-clima {
  background: linear-gradient(45deg, #35838f, #a8d7dd);
  color: #fff;
  text-align: center;
}

/* ./componentes/ClimaHoy.js Estilos */
/* Contenedor */
.ClimaHoy-contenedor {
  display: grid;
}

.H1 {
  color: #d9d9d9;
}

/* Contenedor de los datos */
.ClimaHoy-Cont-Datos {
  background: linear-gradient(45deg, #d18844, #f6dd87);
  gap: 30px;
  display: flex;
  border-radius: 10px;
}

/* Contenedor de la escala de temperatura */
.ClimaHoy-temp-escala {
  display: grid;
  color: #d9d9d9;
  margin: 0 10px;
  text-align: center;
}

/* Contenedor de la barra y hora */
.ClimaHoy-temp-hora {
  display: grid;
}

/* Contenedor de las barras */
.ClimaHoy-temp-cont-barra {
  display: flex;
  align-items: end;
  gap: 10px;
  height: 135px;
}

.ClimaHoy-temp-barra {
  background-color: #fff;
  width: 20px;
  height: 30px;
  margin: 0 auto;
}

/* Contenedor de las horas */
.ClimaHoy-temp-cont-hora-x {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 10px;
}

.ClimaHoy-temp-hora-x {
  margin: 0 auto 10px;
  color: #fff;
}